html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.advanceSearch .choiceSelected {
  outline: 1px white solid;
}
.advanceSearch .typeChoice {
  background-color: rgb(34, 34, 34);
}
.advanceSearch .typeChoice.disabled {
  color: rgb(34, 34, 34);
}
